.my-btn {
  color: white !important;
  font-family: "Aeonik", sans-serif !important;
  font-weight: 300 !important;
  height: 42px !important;
  gap: 19px !important;
  line-height: 99%;
  display: flex !important;
  align-items: center;
  padding-right: 10px !important;
  padding-left: 15px !important;
  border: none !important;
  margin-left: 14px;
  svg {
    margin-bottom: -2px;
    path {
      transition: all 0.3s ease;
      stroke: white !important;
    }
  }
  &:hover {
    color: var(--color-offset) !important;
    svg {
      path {
        stroke: green !important;
      }
    }
  }
}

.MM-logo {
  width: 140px;
  margin-top: 10px;
}
.MM-logo-small {
  width: 170px;
}
header {
  &.header--sticky {
    .MM-logo-small {
      display: none;
    }
    &.sticky {
      .MM-logo {
        display: none;
      }
      .MM-logo-small {
        display: unset;
      }
    }
  }
}

.with-chevron {
  padding-right: 15px !important;
}

.fa-gears {
  display: inline-block;
  margin-top: -15px;
  width: 20px;
  // opacity: 0.35;
}
.logo-brick {
  display: flex;
  padding-bottom: 3rem;
  .logo-col {
    flex-basis: auto;
    padding-right: 4rem;
    .footer-logo {
      width: 140px;
      height: auto;
    }
  }
  .facebook-col {
    // border-left: 1px solid var(--grey-screen);
    flex: 1;
    display: flex;
    // padding-left: 3rem;
    // justify-content: flex-end;
    align-items: flex-end;
  }
}

.facebook-link {
  position: relative;
  top: -2px;
  .facebook-logo {
    width: 85px;
    height: auto;
    overflow: visible;
    // padding-bottom: 1rem;
    path {
      fill: var(--color-accent);
      transition: all 0.25s ease;
    }
  }
  &:hover {
    .facebook-logo {
      path {
        fill: #0766ff;
      }
    }
  }
}

.hr-group {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  .footer-hr {
    
    min-height: 1px;
    display: flex;
    flex: 1 1 auto;
  }
  i {
    flex: 1 0 auto;
    padding-right: 1rem;
    font-size: 19px;
    color: var(--color-accent);
  }
}

.indention {
  display: inline-block;
  width: 100px;
  height: 2px;
}
.footer-form {
  .that-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    input {
      border-radius: 0;
      height: 40px;
      font-size: 16px;
      padding: 12px;
      border: 1px solid rgba(0, 0, 0, 0.26);
      &::placeholder {
        color: rgba(0, 0, 0, 0.435);
      }
      &:active,
      &:focus,
      &:hover {
        border: 1px solid var(--color-body);
      }
    }
    button {
      height: 40px;
      &:after {
        transform: translate(-20%, -70px) scale(0.1);
      }
    }
  }
}
.introduction-section {
  padding-top: 16rem;
  padding-bottom: 16rem;
  .introduction-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0rem;
    .definition-box {
      padding: 40px;
      margin-top: 30px;
      position: relative;
      background-image: url("./../images/golf/golfer-placing-ball.jpg");
      background-position: 0 66%;
      background-size: cover;
      color: white;
      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        background-image: radial-gradient(
          ellipse 80% 150% at 80% 15%,
          hsla(139.41, 60.71%, 10.98%, 0.57) 0%,
          hsla(139.41, 60.71%, 10.98%, 0.633) 8.5%,
          hsla(139.41, 60.71%, 10.98%, 0.69) 15.9%,
          hsla(139.41, 60.71%, 10.98%, 0.742) 22.2%,
          hsla(139.41, 60.71%, 10.98%, 0.788) 27.8%,
          hsla(139.41, 60.71%, 10.98%, 0.829) 32.8%,
          hsla(139.41, 60.71%, 10.98%, 0.864) 37.5%,
          hsla(139.41, 60.71%, 10.98%, 0.895) 42.1%,
          hsla(139.41, 60.71%, 10.98%, 0.922) 46.7%,
          hsla(139.41, 60.71%, 10.98%, 0.944) 51.7%,
          hsla(139.41, 60.71%, 10.98%, 0.962) 57.2%,
          hsla(139.41, 60.71%, 10.98%, 0.976) 63.4%,
          hsla(139.41, 60.71%, 10.98%, 0.987) 70.6%,
          hsla(139.41, 60.71%, 10.98%, 0.994) 78.9%,
          hsla(139.41, 60.71%, 10.98%, 0.999) 88.7%,
          hsl(139.41, 60.71%, 10.98%) 100%
        );
        z-index: 1;
      }
  
      .word {
        position: relative;
        font-family: "IKOB";
        font-size: 27px;
        z-index: 7;
        .noun {
          opacity: 0.6;
          font-family: var(--font-primary);
        }
      }
      .pronunciation {
        position: relative;
        z-index: 8;
        opacity: 0.6;
      }
      .definition {
        z-index: 8;
        position: relative;
      }
    }
  }

  .hours-of-operation {
    margin-bottom: 30px;
    .clock-icon {
      margin-left: -2px;
      width: 30px;
      height: auto;
    }
    .title {
      display: flex;
      align-items: center;
      font-size: 35px;
      position: relative;
      margin-top: 1rem;
    }
    hr {
      margin-bottom: 27px;
      &.hr-2 {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    .hours-title {
      margin-bottom: 5px;
    }
    .hours-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      line-height: 200%;
      .gap {
        position: relative;
        flex: 1 1 auto;
        border-bottom: 1.25px dashed rgba(0, 0, 0, 0.136);
        top: -10px;
        margin: 0 10px;
      }
    }
    p {
      margin-bottom: 1rem;
    }
    .pool-section {
      position: relative;
      .hours-title,.hours-row {
        opacity: .4;
      }
      .closed {
        z-index: 77;
        opacity: 1;
        width: 70px;
        height: auto;
        position: absolute;
        top: 65%;
        left: 50%;
        filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.124));
        transform: rotate(-3deg) translate(-50%,-50%)
      }
    }
  }

  
}

.br-10 {
  border-radius: 10px;
}

//* weather widget styling
.weather-card {
  padding-top: 0.5rem;
  padding-right: 0.25rem;
  padding-bottom: 3rem;
  position: relative;
  top: -5px;
  width: 350px;
  .weather-heading {
    color: var(--color-offset);
    font-family: "IKOB";
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    padding-bottom: 3rem;
    .grey-text {
      color: var(--color-body);
      .hyphen {
        display: inline-block;
      }
      .break {
        display: none;
      }
      display: inline-block;
      font-family: var(--font-primary);
    }
  }
  .card-body {
    padding: 0;
    // padding-bottom: 2.8rem;
  }
  // future weather rows
  .row {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: var(--font-medium);
    padding: 10px 0;
    color: #6d6d6d;
    justify-content: center;
    align-items: center;
    [class*="col"] {
      .tomorrow-icon,
      .day-after-tomorrow-icon,
      .three-days-from-today-icon {
        width: 17px;
      }
    }

    //~ Today's weather
    &.today-row {
      padding-bottom: 1.75rem;
      .today-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .icon-img {
          margin-top: -1px;
          margin-left: -9px;
          width: 45px;
        }
      }
      .today-temp {
        font-size: 4.5rem;
        padding: 0rem;
        margin-left: -5px;
        color: var(--color-body);

        .the-temp {
          position: relative;
          &:after {
            content: "°F";
            font-size: 14px;
            color: #6d6d6d;
            position: absolute;
            right: -16px;
            top: 3px;
          }
        }
        // .degree {
        //   font-size: 12px;
        //   color: #6d6d6d;
        //   align-items: start;
        //   display: inline-flex;
        //   flex-direction: column;
        //   letter-spacing: 0.1em;
        //   padding-left: 0rem;
        // }
      }
      .today-weather {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .today-weather-wrapper {
          width: fit-content;
          padding-top: 0rem;
          padding-left: 0rem;
          padding-right: 0rem;
          line-height: 116%;

          color: #262626;
          .what-weather {
            color: #262626;
            display: block;
            // text-wrap: nowrap;
          }
          .light-white {
            display: block;
            color: #6d6d6d;
            .wind-icon {
              width: 15px;
              height: auto;
              position: relative;
              top: -0.5px;
            }
          }
        }
      }
    }

    //~ The 3 future weather summaries
    &.future-row {
      [class*="col"] {
        flex: 1;
      }
      // .day {
      //   text-align: center;
      // }
      .icon {
        text-align: center;
        font-size: 1.2rem;
        opacity: 0.75;
      }
      // .temp {
      //   text-align: center;
      // }
    }
  }
}
@media screen and (max-width: 550px) {
  .weather-card {
    ._500 {
      line-height: 130%;
      margin-bottom: 1rem !important;
      .hyphen {
        display: none;
      }
    }
    .card-body {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2.5rem;
      padding-top: 1rem;

      .today-icon {
        padding-right: 0rem;
      }
    }
  }
}
